<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.controller.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller_sold_transaction</servlet-name>
        <servlet-class>com.controller.controller_sold_transaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sold_transaction_controller</servlet-name>
        <servlet-class>com.controller.Sold_transaction_controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller_sold_transaction</servlet-name>
        <url-pattern>/controller_sold_transaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sold_transaction_controller</servlet-name>
        <url-pattern>/Sold_transaction_controller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
